.header {
  display: flex;
  justify-content: space-between;
  /* padding: 0 0 0 10px; */
  color: rgb(145, 141, 141);
  border-bottom: 1px solid lightgray;
}
.cross {
  font-size: 30px;
  cursor: pointer;
  color: black;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: -1;
}
.showBackdrop {
  visibility: visible;
  z-index: 10;
}

.backdropContainer {
  /* max-height: 400px; */
  /* background-color: white; */
  color: black;
}

.inputContainer {
  /* padding-right: 40px; */
  padding-top: 20px;
  width: 100%;
  max-width: 600px;
  /* height: 100%; */

  padding: 40px;
  display: flex;
  flex-direction: column;
}
.textFields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.postContainer {
  display: flex;
  flex-direction: column;
}
.textt {
  margin-top: 30px;
  width: 100%;
}
.actionArea {
  display: flex;
  justify-content: space-between;
}

/* .text1 {
  width: 45%;
  /* display: inline; */
/* } */
/* .text2 { */
/* width: 40%; */
/* } */
/* .text3 { */
/* display: block; */
/* width: 100%; */
/* min-width: 680px; */
/* }/ */
/* .text4 { */
/* width: 300px; */
/* } */
/* .text5 { */
/* width: 100%; */
/* } */
/* .button {
  display: block;
} */
