/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 50, 50, 0.555);
  display: grid;
  place-items: center;
  transition: ease-in 0.7s;
  visibility: hidden;
  z-index: -1;
  padding-top: 40px;
}
.showBackdrop {
  visibility: visible;
  z-index: 10;
} */

/* .backdropContainer {
  color: black;
} */

.mainContainer {
  overflow-y: scroll;
  padding: 0.8rem 2rem 1rem 1rem;
  background-color: #e71d36;
  display: flex;
  flex-direction: column;
  /* min-width: 500px; */
  max-height: 400px;
  box-sizing: border-box;
  margin-top: 10px;
  transition: linear 1s;
}

.containerHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
}
.cross {
  font-size: 1.6rem;
  cursor: pointer;
  transition: linear 0.3s;
  color: rgb(46, 44, 44);
}
.cross:hover {
  font-size: 1.9rem;

  color: black;
}

.containerName {
  width: 100%;
  margin-bottom: 20px;
}
.containerQuote {
  margin-bottom: 20px;
}
.containerCharFile {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.fileInput {
  display: inline-block;
  margin-right: 3rem;
  margin-top: 1.2rem;
}

.showImg {
  box-sizing: border-box;
  max-width: 470px;
  max-height: 370px;
  margin-bottom: 10px;
}

.containerProgress {
  margin: 2.2rem 0;
}

.nameTextfield {
  color: green;
}

.userInputWrp {
  position: relative;
  margin-bottom: 1rem;
  /* width: 50%; */
}
.userInputWrp .inputText {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  box-shadow: none !important;
  padding: 7px 0;
  background-color: #e71d36;
  color: black;
  font-size: 1.1rem;
}
.userInputWrp .inputText:focus {
  border-width: medium medium 2px;
  font-size: 1.1rem;
}
.userInputWrp .floatingLabel {
  position: absolute;
  pointer-events: none;
  top: 1.8rem;
  left: 1rem;
  transition: 0.2s ease all;
}
.userInputWrp .inputText:focus ~ .floatingLabel,
.userInputWrp .inputText:not(:focus):valid ~ .floatingLabel {
  top: 4.1rem;
  left: 1rem;
  font-size: 0.9rem;
  opacity: 1;
  /* border: 1px solid rgb(37, 37, 37); */
  padding: 0.3rem;
}
.rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 435px) {
  /* .userInputWrp .inputText {
    font-size: 0.5rem;
  }
  .userInputWrp .inputText:focus {
    font-size: 0.5rem;
  } */
  .userInputWrp .floatingLabel {
    position: absolute;
    font-size: 0.9rem;
    pointer-events: none;
    top: 1.8rem;
    left: 1rem;
    transition: 0.2s ease all;
  }
}
/* ```````````````````````````````````````````````````````````` */
