.pfpInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.name {
  text-align: left;

  font-size: 20px;
  cursor: pointer;
}
.entries {
  position: relative;
  width: 100%;
  min-width: 300px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
}
.entries p {
  margin-left: 20px;
}
