.mainContainer {
  /* padding: 20px 0; */
  /* margin-top: 60px; */
  overflow: hidden;
  min-width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
@media only screen and (max-width: 1270px) {
  .mainContainer {
    min-width: 280px;
  }
}
.insideMainContainer {
  padding: 12px 12px;
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
}
.insideMainContainer h1 {
  margin: 0;
  text-align: left;
  font-size: 22px;
  margin-bottom: 15px;
  border-bottom: 3px solid #e71d36;
}

.containerName {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.friendContainer {
  display: flex;
  flex-direction: column;
  background-color: #011627;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 0 15px;
  border-radius: 2%;
  color: rgb(255, 255, 255);
}

.userInputWrp {
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  /* width: 50%; */
}
.userInputWrp .inputText {
  width: 30%;
  text-align: center;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  box-shadow: none !important;
  padding: 7px 0;
  background-color: #2ec4b6;
  color: black;
  font-size: 1.1rem;
}
.userInputWrp .inputText:focus {
  border-width: medium medium 2px;
  font-size: 1.1rem;
}
.userInputWrp .floatingLabel1 {
  position: absolute;
  pointer-events: none;
  top: 0.7rem;
  left: 7.5rem;
  transition: 0.2s ease all;
}

.userInputWrp .floatingLabel2 {
  position: absolute;
  pointer-events: none;
  top: 0.7rem;
  left: 11rem;
  transition: 0.2s ease all;
}
.userInputWrp .inputText:focus ~ .floatingLabel1,
.userInputWrp .inputText:not(:focus):valid ~ .floatingLabel1 {
  top: 0.7rem;
  left: 5rem;
  opacity: 1;
  /* padding: 0.3rem; */
}
.userInputWrp .inputText:focus ~ .floatingLabel2,
.userInputWrp .inputText:not(:focus):valid ~ .floatingLabel2 {
  top: 0.7rem;
  /* top: 1rem; */
  left: 15rem;

  opacity: 1;
  /* padding: 0.3rem; */
}

/* `````````````````Dropdown```````````````` */

/* body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #23b499;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
} */
.selectttt {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #5c6664;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
  font-size: 0.8em;
  width: 13em;
  font-family: "Open Sans", sans-serif;
}
.selectttt::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 13em;
  height: 2.5em;
  line-height: 3;
  background: #5c6664;
  overflow: hidden;
  /* border-radius: 0.25em; */
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #2b2e2e;
  cursor: pointer;
  pointer-events: none;
  transition: 0.5s all ease;
}
.select:hover::after {
  color: #23b499;
}
