* {
  font-family: "Poppins", sans-serif;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 300px;
}

.feedContainer {
  padding: 10px;
  margin: 10px 0;
  background-color: #f3f2ef;
  max-width: 800px;
}

.feedss {
  margin: 10px;
}
.row {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.col1 {
  flex-basis: 40%;
  position: relative;
}
.col2 {
  flex-basis: 60%;
  position: relative;
  margin-left: 20px;
}

.col1 img {
  width: 100%;
  /* max-width: 200px; */
}
.quote {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
}

.separator {
  display: flex;
  align-items: center;
}

.separator .line {
  height: 3px;
  flex: 1;
  background-color: #000;
}

.separator h1 {
  padding: 0 2rem;
}
.name {
  margin: 1rem auto;
}
