.mainFeedContainer {
  margin: 30px 0;
  font-size: 13px;
}
.feedContainer {
  padding: 0 20px 20px 20px;

  max-width: 750px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background: #2ec4b6;
  outline: none;
  border: none;
}

.row {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  outline: none;
  border: none;
  border-bottom: 2px solid #01162746;
  padding-bottom: 15px;
}
.totalComments p {
  color: #0e385a;
  margin-bottom: 2px;
  /* margin: 0; */
}
.totalComments:hover {
  text-decoration: underline;
  cursor: pointer;
}
.col1 {
  flex-basis: 40%;
  position: relative;
}
.col2 {
  flex-basis: 60%;
  position: relative;
  margin-left: 20px;
}
.topText {
  /* font-size: 1.1rem; */
  font-size: 14px;

  letter-spacing: 0.5px;
}
.col1 img {
  width: 100%;
  /* max-width: 200px; */
}
.quote {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  text-align: justify;
  /* padding-left: 10px; */
  padding-right: 10px;
}

.separator {
  display: flex;
  align-items: center;
}

.separator .line {
  transform: translateY(-9px);
  height: 3px;
  flex: 1;
  background-color: #011627;
  margin-top: 0;
}

.separator h1 {
  font-size: 28px;
  margin-top: 0;
  padding: 0 1.6rem;
  color: #011627;
}
.name {
  padding: 0;
  margin: 0;
}

.hr1 {
  margin-top: 30px;
  border: 1px solid #0116276c;
}
.note {
  margin-top: 30px;
  text-align: justify;
  /* margin: auto 5px; */
  font-size: 13px;
  padding-left: 10px;
  padding-right: 10px;
}

.modifyArea {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background: #2ec4b6;
  border-bottom: 2px solid #01162746;
  border-top: 2px solid #01162746;
  /* padding: 7px 0; */
}

.commentsContainer {
  box-sizing: border-box;
  overflow-y: scroll;
  margin-bottom: 1px;
  background-color: #2ec4b6;
  line-height: 13px;
  /* padding: 0 10px; */
  max-height: 200px;
  font-size: 13px;
}

.recomended {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  /* background-color: #ff9f1c; */
  /* width: 100%;
  max-width: 140px; */
  text-align: center;
}

.recomended p {
  transform: translateX(200px);
  border-radius: 10px;
  padding: 9px;
  background-color: #e71d36;
  color: #fdfffc;
  letter-spacing: 0.7px;
  font-weight: bold;
}
@media only screen and (max-width: 1270px) {
  .recomended p {
    transform: translateX(130px);
  }
}

.commentsContainer ::-webkit-scrollbar {
  width: 0.5em;
}
.commentsContainer::-webkit-scrollbar-track {
  background: #2ec4b6;
}
.commentsContainer::-webkit-scrollbar-thumb {
  background: #15a092;
  border-radius: 25px;
}

.commentsContainer::-webkit-scrollbar-thumb:hover {
  background: #011627;
}
/* ````````````````````````````````````````````` */
