.feedContainer {
  padding: 20px;
  /* margin: 20px 0; */
  /* background-color: #f3f2ef; */
  max-width: 750px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  /* background-color: #98ddc0; */
  /* background-color: #98ddc0; */
  background: #2ec4b6;
}

.actionArea {
  background-color: #f3f2ef;
  padding: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.actionArea:hover {
  background-color: #eceae3;
}

.row {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  border-bottom: 2px solid #01162746;
  padding-bottom: 15px;
}
.totalComments {
  color: #0e385a;
  /* padding: 5px; */
}
.totalComments:hover {
  text-decoration: underline;
  cursor: pointer;
}
.col1 {
  flex-basis: 40%;
  position: relative;
}
.col2 {
  flex-basis: 60%;
  position: relative;
  margin-left: 20px;
}
.topText {
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.col1 img {
  width: 100%;
  /* max-width: 200px; */
}
.quote {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
}

.separator {
  display: flex;
  align-items: center;
}

.separator .line {
  height: 4px;
  flex: 1;
  background-color: #011627;
}

.separator h1 {
  padding: 0 2rem;
  color: #011627;
}
.name {
  margin: 1rem auto;
}

.hr1 {
  margin-top: 30px;
  border: 1px solid #0116276c;
}
.note {
  margin-top: 30px;
}
.mainFeedContainer {
  border: 1px solid #f3f2ef;
  margin: 30px 0;
}
.commentsContainer {
  box-sizing: border-box;
  overflow-y: scroll;
  margin-bottom: 1px;
  background-color: #2ec4b6;
  line-height: 13px;
  /* padding: 0 10px; */
  max-height: 200px;
  font-size: medium;
}

.commentsContainer ::-webkit-scrollbar {
  width: 0.5em;
}
.commentsContainer::-webkit-scrollbar-track {
  background: #2ec4b6;
}
.commentsContainer::-webkit-scrollbar-thumb {
  background: #15a092;
  border-radius: 25px;
}

.commentsContainer::-webkit-scrollbar-thumb:hover {
  background: #011627;
}
