.navbar {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f3f2ef;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.logo {
  width: 150px;
  cursor: pointer;
  margin-left: 50px;
}

.user {
  font-size: 40px;
  margin-right: 50px;
  padding: 10px;
  border-radius: 35%;
  cursor: pointer;
}
.user:hover {
  background-color: black;
  color: white;
}
.navv {
  flex: 1;
  text-align: right;
  margin-right: 250px;
}
.navv ul li {
  list-style: none;
  display: inline-block;
  margin-right: 60px;
  cursor: pointer;
}
